<div class="container my-5 mx-auto" style="width: 600px;">

  <div class="alert alert-danger" *ngIf="!myForm.valid && !myForm.untouched && submitted" role="alert">
    This is a danger alert—check it out!
  </div>

  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="form-group mb-3">
      <label for="email">Email address</label>
      <input type="text" class="form-control" name="email" ngModel placeholder="Enter email" email #userMail="ngModel" required>
      <p class="alert alert-danger" *ngIf="userMail.invalid && userMail.touched">Please input valid email!</p>
    </div>

    <div class="form-group mb-3">
      <label for="email">Subscriptions</label>
      <select class="form-control" [ngModel]="'advanced'" name="subscription">
        <option value="basic">Basic</option>
        <option value="advanced">Advanced</option>
        <option value="pro">Pro</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" ngModel placeholder="Password" #userPass="ngModel" required>
      <p class="alert alert-danger" *ngIf="userPass.invalid && userPass.touched">Please input valid password!</p>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>

  <hr *ngIf="submitted" class="my-4">
  <div *ngIf="submitted" class="jumbotron">
    <h1 class="display-4">User Data</h1>
    <p class="lead">Email: {{ user.email}}</p>
    <p class="lead">Subscription: {{ user.subscription}}</p>
    <p class="lead">Password: {{ user.password}}</p>
  </div>

  <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched.
           Display a warning message below each input if it's invalid.

          Upon submitting the form, you should simply print the Value of the Form to the Console.
          Optionally, display it in your template.
      -->
</div>